DirectoryIndex index.php
order Deny,Allow

# deny everything except landing page
<FilesMatch ".">
Deny From All
</FilesMatch>

# allow index.php and testfile.php
#<FilesMatch "^(index|testfile)\.php$">
<FilesMatch "^(delib_rech|login|depot|depot_delib|status|index)\.php$">
Allow From All
</FilesMatch>


<Files ~ ".(js|css|png|jpg|json|svg|ico)$">
allow from all
</Files>

<LimitExcept GET POST>
        Order Allow,Deny
        Deny from all
</LimitExcept>

test
